{{ $skills := .Site.Data.skills }}
{{ $maxLen := 0 }}
{{ $arrayLen := 0 }}

<section id="skills" class="grayish-pink text-light">
  <h2 class="heading">{{ $skills.title }}</h2>
  <table width="100%">
    <tr>
      {{ range $category := $skills.skills }}
        <th><h5>{{ $category.title }}</h5></th>
        {{ $arrayLen := len $category.skillset }}
        {{ if gt $arrayLen $maxLen }}{{ $maxLen = $arrayLen }}{{ end }}
      {{ end }}
    </tr>
    {{ $counter := 0 }}
    {{ range seq $maxLen }}
      <tr>
        {{ range $category := $skills.skills }}
          <td>{{ if lt $counter (len ($category.skillset)) }}{{ index $category.skillset $counter }}{{ end }}</td>
        {{ end }}
      </tr>
      {{ $counter = add $counter 1 }}
    {{ end }}
  </table>
</section>